.wrap.footer{
    height: 16.1rem;
    background: var(--gold)
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__wrap{
    display: grid;
    grid-template-columns: repeat(6, 16rem);
    grid-template-rows: 7rem;
    grid-gap: 3rem;
    align-items: center;
    position: relative;
}

.logo__wrap-footer{
    grid-column: span 1;
    max-width: 16rem;
    margin-top: .8rem;
}

.footer__adress{
    grid-column: span 2;
    pointer-events: none;
}

.menu-text-adress{
    opacity: 0.8;
    line-height: 3.1rem;
    margin-top: .4rem;
}

.footer__phone{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.footer__phone .menu-text:first-child{
    margin-top: .5rem;
    line-height: 3rem;
}

.dev__info{
    position: absolute;
    top: 4.4rem;
    right: 2.4rem;
    pointer-events: none;
    text-decoration: underline;
}

.footer__wrap-mob{
    display: none;
}

@media screen and (max-width: 700px){
    .footer__phone{
        grid-column: span 2;
    }
}

@media screen and (max-width: 600px){
    .footer__wrap {
        grid-template-rows: 13rem;
    }
    .menu-text-adress {
        line-height: 3rem;
    }
    .menu-text.text-dark.text-no-space{
        line-height: 4rem;
    }
    .footer__phone .menu-text:first-child {
        margin-top: -4.5rem;
        line-height: 7rem;
    }
    .dev__info {
        position: absolute;
        top: 5.4rem;
    }
}

@media screen and (max-width: 500px){
    .footer__menu_hide-hd{
        display: none;
    }

    .footer__menu_hide-mob{
        display: block;
    }

    .footer__wrap-mob{
        display: grid;
        grid-template-columns: repeat(4, 23%);
        grid-template-rows: repeat(2, 2rem);
        grid-gap: 2rem;
        align-items: center;
        position: relative;
    }

    .logo__wrap-footer{
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
        max-width: 16rem;
        margin-top: .8rem;
    }

    .footer__adress{
        grid-column: 2 / span 2;
        grid-row: 2 / span 1;
        text-align: center;
    }

    .footer__phone-mob:first-of-type{
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        text-align: right;
    }
    .footer__phone-mob:nth-of-type(2){
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }
    .dev__info-mob{
        grid-column: -2 / span 1;
        grid-row: 2 / span 1;
    }
    .footer__adress-mob{
        position: absolute;
        left: 735px;
        top: -14px;
    }

}
